{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3>Teacher rankings</h3>
        <ul class="list-group">
            {% for result in lesson_results  %}
                <li class="list-group-item">{{result.lesson.title}}-{{ result.teacher_rate }}</li>
            {% endfor %}

        </ul>
    </div>
{% endblock content %}