{% extends 'base.html' %}
{% block content %}
    <h2>Courses</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.title }}</td>
                    <td>{{ course.created_at }}</td>
                    <td><a href="{% url 'view_course' course.id %}">Start</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}