{% extends 'base.html' %}
{% block content %}
    <h2>Lessons</h2>
    <div>
        <h2>{{ course.title }}</h2>
        <div>{{ course.description }}</div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in lessons%}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.title }}</td>
                <td><a href="{% url 'view_lesson' lesson.id %}">Start</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}