{% extends 'base.html' %}
{% block style %}
    <link rel="stylesheet" href="/static/lessons/lib/codemirror.css" crossorigin="anonymous">
{% endblock style %}
{% block script %}
    <script src="/static/lessons/lib/codemirror.js"></script>
    <script src="/static/lessons/mode/javascript/javascript.js"></script>
    <script>
        var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('answer'));
    </script>
{% endblock script %}

{% block content %}
    <h2>{{ lesson.title }}</h2>
    <p>{{ lesson.description }}</p>
    <label for="answer">Code editor</label>
    <form method="post">
        {% csrf_token %}
        <textarea id="answer" name="answer">//Type code for this lesson</textarea>
        <input type="submit" name="Submit" />
    </form>

{% endblock content %}